@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-white: #ffffff;
  --color-gray-100: #f3f7fc;
  --color-gray-200: #e6f0fa;
  --color-gray-300: #6e7a99;
  --color-gray-400: #2e3344;

  --color-green-light: #cddfcc;
  --color-green-base: #52a350;
  --color-green-dark: #2f5c2d;

  --color-blue-light: #cce1e9;
  --color-blue-base: #577ac2;
  --color-blue-dark: #405188;

  --font-sans: "Cairo", sans-serif;

  --shadow-sm: 0px 4px 8px 0px rgba(54, 23, 45, 0.05);
}
